    <hr style="border: 0; 
                height: 1px; 
                background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0, #f0f0f0);
                background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0, #f0f0f0);
                background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0, #f0f0f0);
                background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0, #f0f0f0);
                margin-top: 20%;">
    <p id="copyright" style="color: aliceblue;">Copyright 2018</p>
</div>
</body>
</html>