<% include partials/landing-header %>

<h1 id="title">Welcome to YelpCamp</h1>
<a href="/campgrounds"> <button type="button" class="btn btn-light"> Go to Camps! </button> </a>

<% include partials/landing-footer %>
