<% include partials/header %>

<h1>Submit your Camp</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Camp name" value="">
    <input type="text" name="image" placeholder="Camp image" value="">
    <button>Go</button>
</form>

<% include partials/footer %>